<%- include("../partials/before-body.ejs") %>
<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/navigation.ejs") %>
   
 
<main>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit et unde molestias repellat, amet ex quas nesciunt voluptatum voluptates doloribus illum 
    
</article>
</main>

<%- include( "../partials/footer.ejs") %>
<%- include( "../partials/end-of-body.ejs") %>
<%- include("../partials/after-footer.ejs") %>

