<%- include("../partials/before-body.ejs") %>
<body class="products_body"></body>
<%- include("../partials/header.ejs") %>
<%- include("../partials/navigation.ejs") %>

        

<main class="products_main">
    <article>
        <h2>List of cool products ... DENNE SIDE HAR SIN EGEN BAGGRUNDSFARVE! :P</h2>
        <ul>
<li>Product 1</li>
<li>Product 2</li>
<li>Product 3</li>
<li>Product 4</li>
<li>Product 5</li>
<li>Product 6</li>
<li>Product 7</li>

        </ul>
   
</article>
</main>


<%- include( "../partials/footer.ejs") %>
<script src="/assets/js/alert.js"></script>
</body>
<%- include("../partials/after-footer.ejs") %>