<%- include("../partials/before-body.ejs") %>
<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/navigation.ejs") %>

<main>
<h2>MIN FØRSTE TESTSIDE</h2>
<article>
<p>Test-side test-side   test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side test-side </p>
</article>

<p>Her er et document:</p>

<a href=""></a>
<a href="/assets/media/test.docx">meget vigtigt ... og hemmeligt dokument</a>
</main>

<%- include( "../partials/footer.ejs") %>
<%- include( "../partials/end-of-body.ejs") %>
<%- include("../partials/after-footer.ejs") %>